* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.hoverable-text {
  cursor: pointer;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.hoverable-text:hover {
  color: #1168c3 !important;
  text-decoration: underline;
}
